<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <meta name='title' content='CSS Fingerprint' />
	  <title>CSS fingerprint</title>
	  <%= stylesheet_link_tag :all, :cache => true %>
	  <%= javascript_include_tag :all, :cache => true %>
	</head>

	<body> 
   <script>
     var $j = jQuery.noConflict(); // let Prototype keep $(); will use jQuery with $j(). See http://docs.jquery.com/Using_jQuery_with_Other_Libraries
</script>
		<%= yield %>
	</body> 
</html>


